
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>

<ul>
    <li><a href="/Html/Ejercicio1">Ejercicio 1</a></li>
    <li><a href="/Html/Ejercicio2">Ejercicio 2</a></li>
    <li><a href="/Html/Ejercicio3">Ejercicio 3</a></li>
    <li><a href="/Html/Ejercicio4">Ejercicio 4</a></li>
    <li><a href="/Html/Ejercicio5">Ejercicio 5</a></li>
    <li><a href="/Html/Ejercicio6">Ejercicio 6</a></li>
</ul>

